export CLIENT_SECRET=test # client secret for Keycloak
export DB_URBALYTIX_SECRET=urbalytix # database password
export FEATURE_COLLECTION_SECRET=secret # secret to access feature collection endpoint

