export CLIENT_SECRET=test # client secret for Keycloak
export DB_URBALYTIX_SECRET=urbalytix # database password
export DB_ROOT_PASSWORD=supersecret # super user password for db
export FEATURE_COLLECTION_SECRET=secret # secret to access feature collection endpoint

