# Default values for config-data.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

hostname: {{ .Values.hostname }}
tls: {{ .Values.tls }}
auth:
  client_secret: {{ .Values.auth.client_secret }}

passwords:
  urbalytix: {{ .Values.dbpasswords.urbalytix }}
